* {
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}

#image, #canvas {
    width: auto;
    height: auto;
    display: inline-block;
}